<div class="container">

  <div class="page-header">
    <h1>{{ zone.name }} <small>Crée par <a href="#" ng-click="gotoUser(zone.createdBy)">{{ zone.createdBy.username }}</a> le {{ zone.createdAt | date }}
     | dernière modification par <a href="#" ng-click="gotoUser(zone.updatedBy)">{{ zone.updatedBy.username }}</a> le {{ zone.updatedAt | date }}</small></h1>
  </div>

  <div class="row">

    <div class="col-md-9">
      <div class="row">
        <h2>Nombre de noeuds</h2>
        <h4>{{ zone.nodes.length }}</h4>
      </div>

      <div class="row">
        <h2>Nombre de modifications</h2>
        <h4>{{ zone.__v }}</h4>
      </div>

      <div class="row">
        <h2>Nombre de simulations</h2>
        <h4>{{ zone.stats.playedGames }}</h4>
      </div>

      <div class="row">
        <h2>Temps en simulation</h2>
        <h4>{{ zone.stats.playedTime }} secondes</h4>
      </div>
    </div>

    <div class="col-md-3">
      <qr class="row" text="id"></qr>
    </div>

  </div>

</div>
