<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Connexion</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.login(form)" novalidate>

        <div class="form-group">
          <label>Nom d'utilisateur</label>

          <input type="text" name="username" class="form-control" ng-model="vm.user.username" required>
        </div>

        <div class="form-group">
          <label>Mot de passe</label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.password" required>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.username.$error.required && form.password.$error.required && vm.submitted">
             Entrez votre nom d'utilisateur et votre mot de passe.
          </p>

          <p class="help-block">{{ vm.errors.login }}</p>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-login" type="submit">
            Connexion
          </button>
          <a class="btn btn-default btn-lg btn-register" ui-sref="signup">
            Inscription
          </a>
        </div>

      </form>
    </div>
  </div>
  <hr>
</div>
